<div class="blog-post">
  <h3> Edit Post</h3>
  <div>
    <%= render 'form', post: @post %>
  </div>
  <div>
    <span><%= link_to 'Show', @post %></span> |
    <span><%= link_to 'Back', posts_path %></span>
  </div>
</div>