<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Home", root_path, class: "nav-link active" %>
      <%= link_to 'New Post', new_post_path, class: "nav-link" %>
      <a class="nav-link" href="#">We are hiring!</a>
    </nav>
  </div>
</div>

<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Stream It!</h1>
    <p class="lead blog-description">A simple blog</p>
  </div>
</div>